<launch>
    <node ns="fixed_cartesian_move/rotation" name="rotate_pid" pkg="pid" type="controller" >
        <param name="Kp" value="6.0" />
        <param name="Ki" value="0.0" />
        <param name="Kd" value="0.5" />
        <param name="upper_limit" value="3.0" />
        <param name="lower_limit" value="-3.0" />
        <param name="windup_limit" value="0.5" />
        <param name="max_loop_frequency" value="100.0" />
        <param name="min_loop_frequency" value="100.0" />
    </node>

    <node ns="fixed_cartesian_move/linear" name="linear_pid" pkg="pid" type="controller" >
        <param name="Kp" value="1.0" />
        <param name="Ki" value="0.0" />
        <param name="Kd" value="0.5" />
        <param name="upper_limit" value="0.25" />
        <param name="lower_limit" value="-0.25" />
        <param name="windup_limit" value="0.5" />
        <param name="max_loop_frequency" value="100.0" />
        <param name="min_loop_frequency" value="100.0" />
    </node>

    <node ns="fixed_cartesian_move" name="controller" pkg="rail_stretch_manipulation" type="fixed_cartesian_move.py"/>
</launch>