<launch>
  <arg name="debug_directory" value="$(env HELLO_FLEET_PATH)/debug/"/>
  <include file="$(find rail_stretch_config)/launch/rail_stretch_bringup.launch"/>
  <include file="$(find rail_stretch_navigation)/launch/rail_stretch_slam.launch"/>
  <include file="$(find rail_stretch_perception)/launch/aruco_manager.launch"/>
  <node name="navigate_to_aruco_action" pkg="rail_stretch_navigation" type="navigate_to_aruco_action.py" output="screen"/>
  <node name="funmap" pkg="stretch_funmap" type="funmap" output="screen" >
    <param name="debug_directory" type="string" value="$(arg debug_directory)"/>
  </node>
  <include file="$(find stretch_core)/launch/stretch_scan_matcher.launch" />
  <node name="grasp_object" pkg="stretch_demos" type="grasp_object" output="screen">
    <param name="debug_directory" type="string" value="$(arg debug_directory)"/>
  </node>
  <node name="stretch_state" pkg="rail_stretch_state" type="stretch_state.py" output="screen"/>
</launch>